body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #000000;
}
$primary-color: #ea0000;
// Prompt
// Thin 100
// ExtraLight 200
// Light 300
// Regular 400
// Medium 500
// SemiBold 600
// Bold 700
// ExtraBold 800
// Black 900

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  .navbar-brand {
    max-width: 162px;
    padding: 0;
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
  }
  .call-button {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }
}
h3.common-head {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
  span {
    color: $primary-color;
  }
}
.swiper-wrapper {
  transition: all 1s ease !important;
  transition-duration: 1s !important;
}
a.start-button {
  background-color: $primary-color;
  color: #ffffff;
  display: block;
  width: max-content;
  max-width: 100%;
  margin: 15px 0 0 0;
  padding: 10px 30px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease-in;
  border: 1px solid $primary-color;
  &:hover {
    background-color: #ffffff;
    color: $primary-color;
  }
}
.swiper-pagination-bullets {
  text-align: center;
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #c6c6c6;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $primary-color;
    }
  }
}
.landing-page {
  overflow-x: hidden;
  .banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .banner-details {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.15s ease-in;
      h1 {
        font-size: 45px;
        margin-bottom: 15px;
      }
      h2 {
        font-weight: 300;
        font-size: 28px;
        text-transform: uppercase;
        font-family: "Dancing Script", cursive;
      }
    }
    .social-media-links {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      transition: all 0.15s ease-in;
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          display: flex;
          width: 40px;
          height: 40px;
          background-color: $primary-color;
          color: #ffffff;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          border: 1px solid $primary-color;
          transition: all 0.15s ease-in;
          font-size: 18px;
          &:hover {
            background-color: #ffffff;
            color: $primary-color;
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .our-services {
    .three-blocks {
      max-width: 1000px;
      margin: 30px auto 0 auto;
      border-bottom: 1px solid #ededed;
      padding-bottom: 30px;
      .block-item {
        min-height: 228px;
        width: 100%;
        border-radius: 28px;
        overflow: hidden;
        box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 15px;
        position: relative;
        transition: all 0.25s ease-in;
        transition-delay: 1s;
        border: 1px solid #d9d9d9;
        margin-bottom: 30px;
        a.hover-link {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 3;
        }
        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 100%;
          background-image: url("../img/services-bg.jpg");
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 0.25s ease;
        }
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          transition: all 0.25s ease;
          opacity: 0;
        }
        &:hover {
          &::before {
            opacity: 0;
          }
          &::after {
            opacity: 1;
          }
          .block-inner {
            .icon-block {
              background-color: #000000;
            }
            h4 {
              color: #000000;
            }
          }
        }
        .block-inner {
          position: relative;
          z-index: 2;
          .icon-block {
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 87px;
            height: 87px;
            margin: 0 auto 15px auto;
            transition: all 0.15s ease-in;
            svg {
              max-width: 75px;
              max-height: 75px;
            }
          }
          h4 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            transition: all 0.15s ease-in;
          }
        }
      }
    }
  }
  .branded-website {
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 48%;
      height: 100%;
      background-position: 0 80%;
      background-image: url("../img/branded-website-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .inner-content {
      position: relative;
      z-index: 1;
      .text-content-block {
        .text-block {
          ul {
            li {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  .mac-slider {
    .mac-block {
      // max-width: 1031px;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
      padding-bottom: 50px;
      .mac {
        position: relative;
        z-index: 1;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      .swiper {
        position: absolute;
        z-index: 2;
        top: 29px;
        left: 50%;
        transform: translateX(-50%);
        // max-width: calc(100% - 75px);
        max-width: calc(100% - 58px);
        width: 100%;
      }
      .swiper-paginationmac {
        width: max-content;
        max-width: 100%;
        margin: 0 auto;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        letter-spacing: -2px;
        font-size: 22px;
        font-weight: 500;
        position: absolute;
        bottom: -4px;
      }
      .arrow-next {
        position: absolute;
        bottom: 0;
        left: calc(50% + 40px);
        right: auto;
        transform: none;
        top: auto;
        z-index: 3;
        margin: 0;
        &::after {
          display: none;
        }
      }
      .arrow-prev {
        position: absolute;
        bottom: 0;
        right: calc(50% + 40px);
        left: auto;
        transform: none;
        top: auto;
        z-index: 3;
        margin: 0;
        &::after {
          display: none;
        }
      }
    }
  }
  .struggling {
    background-size: 100% 78%;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #ffffff;
    .text-content {
      margin-top: 15%;
      width: max-content;
      max-width: 100%;
      h3 {
        font-size: 58px;
        font-weight: 500;
      }
    }
  }
  .review-testimonial {
    background-color: #f8f8f8;
    padding: 50px 0;
    position: relative;
    .sub-head {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
    }
    .quotes-img {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-250%);
      z-index: 2;
    }
    .common-bg-block {
      background-color: #ffffff;
      border-radius: 39px;
      min-height: 228px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.03);
    }
    .review {
      font-size: 30px;
      color: #292929;
    }
    .review-count {
      font-weight: 500;
      color: #6a6a6a;
    }
    .testimnnialswiper {
      padding: 0 5px 30px 5px;
      .common-bg-block {
        padding: 30px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid #ffffff;
        }
      }
    }
    .testimnnialswiperthumb {
      max-width: 350px;
      width: 100%;
      .image {
        background-color: #ffffff;
        border: 6px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.03);
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10px auto;
        opacity: 0.5;
        transition: all 0.15s ease-in;
        img {
        }
      }
      .details {
        opacity: 0;
        transition: all 0.15s ease-in;
        .name {
          font-weight: 500;
        }
        .designation {
          font-size: 14px;
          font-weight: 500;
          color: #707070;
        }
      }
      .swiper-slide {
        cursor: pointer;
        max-width: 121px !important;
        width: 100%;
      }
      .swiper-slide-thumb-active {
        .image,
        .details {
          opacity: 1;
        }
      }
      .swiper-wrapper {
      }
    }
  }
  .some-salient {
    .some-salient-inner-block {
      a.start-button {
        top: -23px;
        position: relative;
      }
      h3 {
        font-size: 30px;
      }
      form {
        padding: 15px 0;
        .form-control {
          outline: none;
          box-shadow: none;
          border: none;
          min-height: 44px;
        }
        input {
          border-bottom: 1px solid rgba(255, 255, 255, 0.26) !important;
          background-color: transparent;
          border-radius: 0;
          padding-left: 0;
          color: rgba(255, 255, 255, 0.76);
          font-weight: 400;
        }
        button {
          background-color: $primary-color;
          color: #ffffff;
          font-weight: 500;
          border-radius: 8px;
          text-transform: uppercase;
        }
      }
    }
  }
}
footer {
  background-color: $primary-color;
  padding: 5px 0 20px 0;
  ul {
    li {
      padding-top: 15px;
      &:not(:last-child) {
        margin-right: 50px;
      }
      a {
        color: #ffffff !important;
        font-size: 20px;
        img {
          margin-right: 5px;
        }
      }
    }
  }
  .social-media-links {
    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      a {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        color: $primary-color !important;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        transition: all 0.15s ease-in;
        font-size: 18px;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    .navbar-brand {
      font-size: 45px;
    }
    .call-button {
      font-size: 16px;
      img {
        max-width: 24px;
      }
    }
  }
  h3.common-head {
    font-size: 30px;
  }
  .landing-page {
    .banner {
      .social-media-links{
        top: auto;
        bottom: 0;
        left: auto;
        transform: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: 10px;
          }
        }
      }
      .banner-details{
        h1{
          font-size: 30px;
        }
        h2{
          font-size: 20px;
        }
      }
    }
    .our-services {
      margin-top: 30px;
      .three-blocks {
        border-bottom: none;
        ::-webkit-scrollbar {
          display: none;
        }
        .row {
          flex-wrap: nowrap;
          overflow: auto;
          --bs-gutter-x: 15px;
          .col-sm-4 {
            width: 257px !important;
            max-width: 257px !important;
          }
        }
      }
    }
    .branded-website {
      &::before {
        width: 100%;
        transform: none;
        top: 30px;
        background-position: top right;
        background-size: 430px 264px;
      }
      .text-content-block {
        margin-top: 30px;
        text-align: center;
        a.start-button {
          margin: 15px auto 0 auto;
        }
      }
    }
    .mac-slider {
      .mac-block {
        .swiper {
          max-width: calc(100% - 26px);
          top: 13px;
        }
      }
    }
    .struggling {
      background-size: cover;
      text-align: center;
      background-image: url("../img/struggling-bg-mobile.jpg") !important;
      .row {
        flex-direction: column-reverse;
      }
      .image {
        margin-top: 30px;
        text-align: center;
        img {
          max-width: 60%;
          margin: 0 auto;
        }
      }
      .text-content {
        margin: 0 auto;
        padding-top: 30px;
        h6 {
          font-size: 16px;
        }
        h3 {
          font-size: 38px;
        }
      }
    }
    .review-testimonial {
      .common-bg-block {
        min-height: 144px;
        margin-top: 15px;
      }
    }
    .some-salient {
      background-size: cover;
      background-position: bottom;
      .some-salient-inner-block {
        h3 {
          font-size: 20px;
        }
        form {
          padding: 0 7px;
          .form-control {
            margin-bottom: 15px;
          }
          button {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  h3.common-head {
    font-size: 35px;
  }
  .landing-page {
    .mac-slider {
      .mac-block {
        .swiper {
          max-width: calc(100% - 45px);
          top: 25px;
        }
      }
    }
    .struggling {
      .text-content {
        h3 {
          font-size: 40px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1440px) {
}
@media (min-width: 1441px) and (max-width: 1599px) {
}
@media (min-width: 1600px) and (max-width: 1920px) {
}
@media (min-width: 1600px) {
}
